@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --brown-primary: #eb8d2b;
  --black-secondary: black;
  --font-primary: "Poppins", sans-serif;
}

a {
  color: var(--black-secondary) !important;
  font-family: var(--font-primary);
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

svg {
  color: var(--brown-primary);
}
